@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/SourceSansPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 800;
  src: url("../public/fonts/SourceSansPro-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SourceSansPro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing:border-box;
}

img {
  max-width:100%;
}
