@import 'variables';

#aside {
  .heading2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }
}

@media (min-width:1440px) {
  #aside {
    order:1;
  }
}
